# -------------------------------
# DATASETS (ASLA GİTMEYECEK)
# -------------------------------
datasets/

# -------------------------------
# GİTMEYECEK PYTHON DOSYALARI
# -------------------------------
src/1-rfm_analysis.py
src/2-cltv.py
src/3-cltv_prediction.py

# -------------------------------
# PYTHON CACHE
# -------------------------------
__pycache__/
*.pyc

# -------------------------------
# NOTEBOOK CACHE
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# ENV
# -------------------------------
.env
